$base-blue: #4a3aff;
$base-blue-bg: #f3f1ff;

$neutral-800: #170f49;
$neutral-700: #514f6e;
$neutral-600: #6f6c90;
$neutral-500: #a0a3bd;
$neutral-400: #d9dbe9;
$neutral-300: #eff0f6;
$neutral-200: #f7f7fb;
$neutral-100: #fff;

$success: #5bc729;
$success-bg: #effbe9;
$danger: #fd2727;
$danger-bg: #fdf2f2;
$warning: #ff9538;
$warning-bg: #fadec5;